<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ドキドキバレンタイン大作戦💗 │ Project N</title>
  <link rel="stylesheet" href="assets/css/normalize.css">
  <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
  <svg width="0" height="0" class="hidden">
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12.47 24.94" id="arrow" class="arrow_svg">
      <title>arrow</title>
      <polygon points="0 24.94 0 19.66 7.35 12.47 0 5.92 0 0 12.47 12.47 0 24.94"/>
    </symbol>
  </svg>
  <header class="header">
    <div class="container">
      <div class="header__logo"><img src="assets/images/logo.svg" alt="チームロゴ"></div>
      <div class="header__name">N・S高生制作サイト</div>
    </div>
  </header>
  <main class="main main-page">
    <!-- タイトルエリア　ここから -->
    <h1 class="main-title"><img src="assets/images/main-image.png" alt="ドキドキバレンタイン大作戦💗"></h1>
    <!-- タイトルエリア　ここまで -->
    <div id="stage">

      <!-- STAGE1　ここから -->
      <div id="sectionStage1" class="stage">

        <!-- STAGE1問題セクション　ここから -->
        <section class="section">
          <div class="container">
            <h2 class="section-title section-title--keycolorlight"><span class="section-title__stage">STAGE：1</span>レシピ本を見つけよう！</h2>
            <p class="text-center">しょう：作り始めようとしたんだけど、レシピの場所がわからないよ〜〜〜！ママーどこにあるか知らない？<br>
              ママ：ふふふおじいちゃんいたずら好きだったでしょ？孫を楽しませたいからってこの家のどこかに隠したみたいなの、<br>
　　　　　　　　だから、ママもどこにあるかはわからないの。でも、この紙をしょうにあげるわ頑張って謎を解きましょうね！</p>
            <p class="text-center">困ったときは、ヒントがある。なるべく見ないようにゲームを進めていこう。</p>
  
            <div class="container">
              <figure class="image__container">
                <img src="assets/images/image1.png" alt="">
              </figure>
                
 <!--  YouTube貼り付け
              <div class="youtube__container">
                <div class="youtube">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/IRyJe-0Uie0?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
              </div>
Youtube貼り付けここまで -->
                
            </div>
          </div>
        </section>
        <!-- STAGE1問題セクション　ここまで -->

        <!-- STAGE1解答入力セクション　ここから -->
        <section class="section bg-color--keycolor">
          <div class="container">
            <h2 class="section-title"><span class="section-title__stage">STAGE：1</span>キーワードを入力</h2>
            <!------------------------------------------------------------------------------------------------------------
              解答入力欄のコンポーネントです。入力欄・送信ボタン・エラーメッセージを表示します。
              v-bind:correct="correctAnswer['stage1']['q1']" は正解の解答を指します。
              v-on:answer-input="answerInput($event, 'stage1', 1)" は送信ボタンをクリックした時の動作を決める関数です。
              2番目、3番目の1引数 'stage1', 1 はstage1の1問目ということになります。
              1番麺の引数 $event は正解、不正解の判定を受け取る変数です。
              []、()の間違い、''の抜けがあると動きません。
            ------------------------------------------------------------------------------------------------------------>
            <answer-input v-bind:correct="correctAnswer['stage1']['q1']" v-on:answer-input="answerInput($event, 'stage1', 1)"></answer-input>

            <a class="link-hint" href="hint1.html" target="hint1">ヒントをみる ></a>
          </div>
        </section>
        <!-- STAGE1解答入力セクション　ここまで -->

        <!-- STAGE1クリア画面　ここから -->
        <!------------------------------------------------------------------------------------------------------
          ステージを全問正解するとclear['stage1']がtrusになります。
          v-if="clear['stage1']"はclear['stage1']がtrueになったら表示します。
          v-bind:class="{isClear:clear['stage1']}"はclear['stage1']がtrueになったら「isClear」クラスを追加します。
        -------------------------------------------------------------------------------------------------------->
        <section v-if="clear['stage1']" v-bind:class="{isClear:clear['stage1']}"  class="section section--clear bg-color--gray">
          <div class="container">
            <div class="clear-message">
              <div class="clear-message__title">STAGE：クリア！</div>
              <div class="clear-message__content">早く靴箱に行こう！<br>
                時間がない！</div>
              <button v-on:click="nextStage('stage1')" onclick="location.href='#sectionStage2'" class="clear-message__btn btn">次のステージへ<svg class="btn__arrow"><use xlink:href="#arrow"></use></svg></button>
            </div>
          </div>
        </section>
        <!-- STAGE1クリア画面　ここまで -->

      </div>
      <!-- STAGE1　ここまで -->

      <!-- STAGE2　ここから -->
      <!---------------------------------------------------------------------
        クリア画面の「次のステージへ」ボタンをクリックしたら表示します。
        v-if="next['stage1']"はnext['stage1']がtrueになったら表示します。
      ----------------------------------------------------------------------->
      <div v-if="next['stage1']" id="sectionStage2" class="stage">
        <section>
          <div class="section">
            <div class="container">
              <h2 class="section-title section-title--keycolorlight"><span class="section-title__stage">STAGE：2</span>レシピ本を見つけよう！</h2>
              <p class="text-center">しょう：靴箱についたは良いけど、靴箱のどこにあるかわからないよ〜〜<br>
                むむ！これは・・・？！<br>
                すぐに目に入ったのは一枚の紙切れ<br>
                これらを解くことで、きっとレシピ本が見つかるはずだ！</p>
            </div>
          </div>
          <div class="stage-column__container section bg-color--keycolor">
            <div class="container">
              <h2 class="section-title"><span class="section-title__stage">STAGE：2</span>キーワードを入力</h2>
              <!-------------------------------------------------------------
                class名"row"内のclass名"column"が横並びになります。
                改行する場合は以下のように追加してください。
                <div class="row">
                  <div class="column">
                    ～ 内容 ～
                  </div>
                </div>
              ------------------------------------------------------------->
              <div class="row">

                <!-- STAGE2　ここから -->
                <div class="column">
                  <!-- STAGE2問題セクション　ここから -->
                  <figure class="image__container">
                    <img src="assets/images/image2.png" alt="">
                  </figure>
                  <!-- STAGE2問題セクション　ここまで -->
                  <!-- STAGE2解答入力セクション　ここから -->
                  <answer-input v-bind:correct="correctAnswer['stage2']['q1']" v-on:answer-input="answerInput($event, 'stage2', 1)"></answer-input>
                  <a class="link-hint" href="hint2.html" target="hint2">ヒントをみる ></a>
                  <!-- STAGE2解答入力セクション　ここまで -->
                </div><!-- /.column -->
                <!-- STAGE2ここまで -->

              </div><!-- /.row -->

            </div>
          </div>
        </section>

        <!-- STAGE2クリア画面　ここから -->
        <section v-if="clear['stage2']" v-bind:class="{isClear:clear['stage2']}"  class="section section--clear bg-color--gray">
          <div class="container">
            <div class="clear-message">
              <div class="clear-message__title">STAGE：2　クリア！</div>
              <div class="clear-message__content">答えはねこだ！<br>
                ねこの置物の中にはレシピ本が隠されていた<br>
              　これでやっとお菓子が作れる！</div>
                <button v-on:click="nextStage('stage2')" onclick="location.href='#sectionStage3'" class="clear-message__btn btn">次のステージへ<svg class="btn__arrow"><use xlink:href="#arrow"></use></svg></button>
            </div>
          </div>
        </section>
        <!-- STAGE2クリア画面　ここまで -->
      </div>
      <!-- STAGE2　ここまで -->
      
      
      <!-- STAGE3　ここから -->
      <div v-if="next['stage2']" id="sectionStage3" class="stage">
        <section>
          <div class="section">
            <div class="container">
              <h2 class="section-title section-title--keycolorlight"><span class="section-title__stage">STAGE：3</span>お菓子を作ろう！</h2>
              <p class="text-center">しょう：よし！レシピ本も見つかったし、早速作り始めるぞー！<br>
                スノーボールクッキーを作るのか！よし、がんばるぞー！！<br>
                えっと…まずはバターを室温で柔らかくして、クリーム状に練るっと<br>
                その次は、レンジの温度を●●●度にして・・・<br>
                ん！？なんでここ読めないの！？<br>
                この付箋はなんだ・・・？</p>
            </div>
          </div>
          <div class="stage-column__container section bg-color--keycolor">
            <div class="container">
              <h2 class="section-title"><span class="section-title__stage">STAGE：3</span>全角数字で入力しよう！</h2>
             
              <div class="row">

                <!-- STAGE3　ここから -->
                <div class="column">
                  <!-- STAGE3問題セクション　ここから -->
                  <figure class="image__container">
                    <img src="assets/images/image3.png" alt="">
                  </figure>
                  <!-- STAGE3問題セクション　ここまで -->
                  <!-- STAGE3解答入力セクション　ここから -->
                  <answer-input v-bind:correct="correctAnswer['stage3']['q1']" v-on:answer-input="answerInput($event, 'stage3', 1)"></answer-input>
                  <a class="link-hint" href="hint3.html" target="hint3">ヒントをみる ></a>
                  <!-- STAGE3解答入力セクション　ここまで -->
                </div><!-- /.column -->
                <!-- STAGE3　ここまで -->

              </div><!-- /.row -->

            </div>
          </div>
        </section>

        <!-- STAGE3クリア画面　ここから -->
        <section v-if="clear['stage3']" v-bind:class="{isClear:clear['stage3']}"  class="section section--clear bg-color--gray">
          <div class="container">
            <div class="clear-message">
              <div class="clear-message__title">STAGE：3　クリア！</div>
              <div class="clear-message__content">170度だったのか。<br>
                相当古いレシピ本だから、読めないところがあってもしょうがないか。<br>
                まぁ次に進もう！</div>
                <button v-on:click="nextStage('stage3')" onclick="location.href='#sectionStage4'" class="clear-message__btn btn">次のステージへ<svg class="btn__arrow"><use xlink:href="#arrow"></use></svg></button>
            </div>
          </div>
        </section>
        <!-- STAGE3クリア画面　ここまで -->
      </div>
      <!-- STAGE3　ここまで -->
      
      
       <!-- STAGE4　ここから -->
      <div v-if="next['stage3']" id="sectionStage4" class="stage">
        <section>
          <div class="section">
            <div class="container">
              <h2 class="section-title section-title--keycolorlight"><span class="section-title__stage">STAGE：4</span>お菓子を作ろう！</h2>
              <p class="text-center">しょう：で、その次は…粉類をふるい、全ての材料を混ぜる。<br>
                生地を30等分にわけて、丸めて鉄板にのせてっと！んで、170度で15〜25分焼く。<br>
                焦げない程度に長く焼くとサクサクになるのか！<br>
                焼きたてはまだ柔らかいから、触っちゃいけないんだ！気をつけないと！<br>
                で、冷めてかたくなったら、仕上げに粉砂糖をまぶすのか。<br>
　　　　　　　　　 じゃあ今のうちに砂糖を用意しとかなきゃ！<br>
                あっあれ？これ、どれが砂糖だ・・・？　<br>
                わからない！どうしよ〜〜〜</p>
            </div>
          </div>
          <div class="stage-column__container section bg-color--keycolor">
            <div class="container">
              <h2 class="section-title"><span class="section-title__stage">STAGE：4</span>A・B・C・Dから正解を見つけよう！</h2>
              
              <div class="row">

                <!-- STAGE4　ここから -->
                <div class="column">
                  <!-- STAGE4問題セクション　ここから -->
                  <figure class="image__container">
                    <img src="assets/images/image4.png" alt="">
                  </figure>
                  <!-- STAGE4問題セクション　ここまで -->
                  <!-- STAGE4解答入力セクション　ここから -->
                  <answer-input v-bind:correct="correctAnswer['stage4']['q1']" v-on:answer-input="answerInput($event, 'stage4', 1)"></answer-input>
                  <a class="link-hint" href="hint4.html" target="hint4">ヒントをみる ></a>
                  <!-- STAGE4解答入力セクション　ここまで -->
                </div><!-- /.column -->
                <!-- STAGE4ここまで -->

              </div><!-- /.row -->

            </div>
          </div>
        </section>

        <!-- STAGE4クリア画面　ここから -->
        <section v-if="clear['stage4']" v-bind:class="{isClear:clear['stage4']}"  class="section section--clear bg-color--gray">
          <div class="container">
            <div class="clear-message">
              <div class="clear-message__title">STAGE：4　クリア！</div>
              <div class="clear-message__content">なんとか砂糖は見つかった！<br>
                で、これをクッキーにまぶしてっと！<br>
                やったー！完成！！！<br>
                学校に急がないと！！</div>
                <button v-on:click="nextStage('stage4')" onclick="location.href='#sectionStage5'" class="clear-message__btn btn">次のステージへ<svg class="btn__arrow"><use xlink:href="#arrow"></use></svg></button>
            </div>
          </div>
        </section>
        <!-- STAGE4クリア画面　ここまで -->
      </div>
      <!-- STAGE4　ここまで -->
      
       <!-- STAGE5　ここから -->
      <div v-if="next['stage4']" id="sectionStage5" class="stage">
        <section>
          <div class="section">
            <div class="container">
              <h2 class="section-title section-title--keycolorlight"><span class="section-title__stage">STAGE：5</span>かんなちゃんに渡そう！</h2>
              <p class="text-center">しょう：学校についたぞ！<br>
　　　　　　　　　早くかんなにクッキーを渡さないと！<br>
                りゅうせい：待っていたぜしょう〜〜<br>
　　　　　　　　　　　　　　　 お前がかんなちゃんに好意を抱いていたのはバレバレだったのだ〜<br>
                しょう：それがどうかしたの！？<br>
                りゅうせい：そのお菓子は俺が奪い去って、隠してやる〜〜！<br>
                しょう：やめろ〜！返せ！！<br>
                りゅうせい：悔しかったら見つけ出してみろ！！さらばだ！<br>
                しょう：しまった・・・。早く取り返さないと・・・</p>
            </div>
          </div>
          <div class="stage-column__container section bg-color--keycolor">
            <div class="container">
              <h2 class="section-title"><span class="section-title__stage">STAGE：5</span>キーワードを入力</h2>
             
              <div class="row">

                <!-- STAGE5　ここから -->
                <div class="column">
                  <!-- STAGE5問題セクション　ここから -->
                  <figure class="image__container">
                    <img src="assets/images/image5.png" alt="">
                  </figure>
                  <!-- STAGE5問題セクション　ここまで -->
                  <!-- STAGE5解答入力セクション　ここから -->
                  <answer-input v-bind:correct="correctAnswer['stage5']['q1']" v-on:answer-input="answerInput($event, 'stage5', 1)"></answer-input>
                  <a class="link-hint" href="hint5.html" target="hint5">ヒントをみる ></a>
                  <!-- STAGE5解答入力セクション　ここまで -->
                </div><!-- /.column -->
                <!-- STAGE5ここまで -->

              </div><!-- /.row -->

            </div>
          </div>
        </section>

        <!-- STAGE5クリア画面　ここから -->
        <section v-if="clear['stage5']" v-bind:class="{isClear:clear['stage5']}"  class="section section--clear bg-color--gray">
          <div class="container">
            <div class="clear-message">
              <div class="clear-message__title">STAGE：5　クリア！</div>
              <div class="clear-message__content">下駄箱か、<br>
                早く取り返さないと…</div>
                <button v-on:click="nextStage('stage5')" onclick="location.href='#sectionStage6'" class="clear-message__btn btn">次のステージへ<svg class="btn__arrow"><use xlink:href="#arrow"></use></svg></button>
            </div>
          </div>
        </section>
        <!-- STAGE5クリア画面　ここまで -->
      </div>
      <!-- STAGE5　ここまで -->
      
      
       <!-- STAGE6　ここから -->
      <div v-if="next['stage5']" id="sectionStage6" class="stage">
        <section>
          <div class="section">
            <div class="container">
              <h2 class="section-title section-title--keycolorlight"><span class="section-title__stage">STAGE：6</span>かんなちゃんに渡そう！</h2>
              <p class="text-center">しょう：下駄箱に着いたは良いが何もないじゃないか！<br>
               　　　　くそ！どこを探せば…<br>
               　　　　ん？何かあるぞ？これは・・・？</p>
            </div>
          </div>
          <div class="stage-column__container section bg-color--keycolor">
            <div class="container">
              <h2 class="section-title"><span class="section-title__stage">STAGE：6</span>キーワードを入力</h2>
              
              <div class="row">

                <!-- STAGE6　ここから -->
                <div class="column">
                  <!-- STAGE6問題セクション　ここから -->
                  <figure class="image__container">
                    <img src="assets/images/image6.png" alt="">
                  </figure>
                  <!-- STAGE6問題セクション　ここまで -->
                  <!-- STAGE6解答入力セクション　ここから -->
                  <answer-input v-bind:correct="correctAnswer['stage6']['q1']" v-on:answer-input="answerInput($event, 'stage6', 1)"></answer-input>
                  <a class="link-hint" href="hint6.html" target="hint6">ヒントをみる ></a>
                  <!-- STAGE6解答入力セクション　ここまで -->
                </div><!-- /.column -->
                <!-- STAGE6ここまで -->

              </div><!-- /.row -->

            </div>
          </div>
        </section>

        <!-- STAGE6クリア画面　ここから -->
        <section v-if="clear['stage6']" v-bind:class="{isClear:clear['stage6']}"  class="section section--clear bg-color--gray">
          <div class="container">
            <div class="clear-message">
              <div class="clear-message__title">STAGE：6　クリア！</div>
              <div class="clear-message__content">体育館だったのかよ。。僕で遊びやがって！<br>
            　   そうこうしているうちに時間がなくなってきた。</div>
                <button v-on:click="nextStage('stage6')" onclick="location.href='#sectionStage7'" class="clear-message__btn btn">次のステージへ<svg class="btn__arrow"><use xlink:href="#arrow"></use></svg></button>
            </div>
          </div>
        </section>
        <!-- STAGE6クリア画面　ここまで -->
      </div>
      <!-- STAGE6ここまで -->
      

      <!-- STAGE7　ここから -->
      <div v-if="next['stage6']" id="sectionStage7" class="stage">

        <!-- STAGE7問題セクション　ここから -->
        <section class="section">
          <div class="container">
            <h2 class="section-title section-title--keycolorlight"><span class="section-title__stage">STAGE：7</span>かんなちゃんに渡そう！</h2>
            <p class="text-center">しょう：体育館といっても、こんな広い体育館のどこにあるんだ！<br>
              　　　　あ、なんかプリントが落ちてる<br>
              　　　　これはなんだ？</p>
            <figure class="image__container">
              <img src="assets/images/image7.png" alt="">
            </figure>
          </div>
        </section>
        <!-- STAGE7問題セクション　ここまで -->

        <!-- STAGE7解答入力セクションここから -->
        <section class="section bg-color--keycolor">
          <div class="container">
            <h2 class="section-title"><span class="section-title__stage">STAGE：7</span>キーワードを入力</h2>
            <!-----------------------------------------------------------------------------------------------------------------
              解答入力欄のコンポーネントです。
              v-on:answer-input="answerInput($event, 'stage3', 1, 'final')" は送信ボタンをクリックした時の動作を決める関数です。
              4番目の引数 'final' は最終ステージを表します。
            ------------------------------------------------------------------------------------------------------------------>
            <answer-input v-bind:correct="correctAnswer['stage7']['q1']" v-on:answer-input="answerInput($event, 'stage7', 1, 'final')"></answer-input>
            <a class="link-hint" href="hint7.html" target="hint7">ヒントをみる ></a>
          </div>
        </section>
        <!-- STAGE7解答入力セクション　ここまで -->
     　 
          </div>
      <!-- STAGE7　ここまで -->

    </div>
  </main>
  <footer class="footer section bg-color--gray">
    <div class="container">
        <p class="text-center">授業主催： N・S高<br>協力：株式会社SCRAP<br>企画制作：N・S高生</p>
        <p class="text-center">「リアル脱出ゲーム」は株式会社SCRAPの登録商標です。</p>
        <p class="text-center">株式会社SCRAPとN・S高で実施した授業「リアル脱出ゲームの作り方」の一環で<br>生徒が制作したものであり、SCRAPが主催/公認するものではありません。</p>
    </div>
  </footer>
  <script src="https://unpkg.com/vue@next"></script>
  <script src="assets/js/main.js"></script>
</body>
</html>
